* {
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;}
    
.container {
    background-color: rgb(102, 102, 175);
}
.main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.top-container {
    width: 100%;
    height: auto;
}
.bottom-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
.left-container {
    width: 30%;
    height: 100%;
}
.center-container {
    width: 40%;
    height: 100%;
}
.right-container {
    width: 30%;
    height: 100%;
}
.grid-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.item-container{
    display: flex;
    width: 100%;
    height: auto; 
}
.job-name {
    width: 20%;
    height: 100%;
}
.job-value {
    width: 20%;
    height: 100%;
}
.item-name {
    width: 30%;
    height: 100%;
}
.item-value {
    width: 20%;
    height: 100%;
}
.item-buttons {
    width: 10%;
    height: 100%;
}
.building-name {
    width: 20%;
    height: 100%;
}
.building-requirements {
    width: 20%;
    height: 100%;
}
.building-effect {
    width: 30%;
    height: 100%;
}
.building-count {
    width: 15%;
    height: 100%;
}
.build-button {
    width: 15%;
    height: 100%;
}
.buildings {
    display: flex;
    width: 100%;
}
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;}
li {
    float: left;
    text-decoration: none;
    display: block;
    padding: 10px;
    color:aliceblue;}
[data-tab-content] {
    display: none;
}
.active[data-tab-content] {
    display: block;
}
button {
    color: aliceblue;
    background-color: #333;
    height: 12px;
    min-width: 20px;
    padding: 0 5px;
}